body {
    max-width: 90%;
    justify-content: center;
    margin: 4% auto;
}

@media screen and (min-width: 768px) {
    .parameters {
        display: grid;
        grid-template-columns: 35% 30% 25%;
        grid-template-rows: 300px;
        column-gap: 5%;
    }
    .graphics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px;
    }
}

@media screen and (max-width: 760px) {
    .parameters, .graphics {
        display: block;
    }
}

.stats {
    font-family: 'Courier New', Courier, monospace;
}

.description {
    font-style: italic;
}

tr:nth-child(even) {
    background-color: teal;
}