body {
    max-width: 90%;
    justify-content: center;
    margin: 2% auto;
    color: #fff;
    background-color: rgb(0.5, 0.5, 0.5);
    font-size: 0.92em;
}

@media screen and (min-width: 1024px) {
    .parameters {
        display: grid;
        grid-template-columns: 30% 35% 25%;
        grid-template-rows: minmax(300px, auto);
        gap: 5%;
    }
    .graphics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
        grid-template-rows: 500px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .parameters {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: repeat(2, minmax(300px, auto));
        gap: 5%;

    }
    .graphics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        gap: 5%;
        overflow-x: auto;
    }
}

@media screen and (max-width: 760px) {
    .parameters, .graphics {
        display: block;
    }
    .description, #parameters {
        margin-bottom: 7%;
    }
}

.stats {
    font-family: 'Courier New', Courier, monospace;
}

.description p {
    font-style: italic;
    background-color: rgba(0, 128, 128, 0.3);
    padding: 4%;
    border-radius: 2%;
}

tr:nth-child(even) {
    background-color: rgba(0, 128, 128, 0.5);
}

.wiki-link {
    color: rgba(0, 128, 128, 0.7);
}

.wiki-link:hover {
    color: rgba(0, 128, 128);
}