body {
    margin: 5%;
    color: #ccc;
    background-color: rgb(20, 60, 60);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}

label {
    font-weight: bold;
    display: inline-block;
    margin: 15px 5px 5px;
}

table, td {
    width: 100%;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: cyan;
    color: darkslategray;
}

.custom-button {
    display: block;
    line-height: 3;
    background-color: aqua;
    padding: 0% 5%;
    border: none;
    border-radius: 4px;
    margin: 5% auto;
    position: center;
    font-family: 'Courier New', Courier, monospace;
}

.custom-button:hover {
    background-color: #205050;
    color: #eee;
}

.description {
    font-weight: 500;
    color: #333;
    background-color: aqua;
    padding: 2%;
    border-radius: 2%;
    margin-bottom: 4%;
}

.description p {
    margin: 2%;
}

.wiki-link {
    color: rgb(6, 126, 106);
}

.wiki-link:hover {
    color: #fff;
}

.statistics-and-plots #histogram, #violin-plot, #stats-table {
    margin-bottom: 4%;   
}

/* Classes defined in dash */
.Select {
    color: #eee;
}

.Select-control {
    background-color: #205050;
    border-radius: 4px;
    border: 1px solid cyan;
}

.is-open>.Select-control {
    background: #205050;
    border-color: cyan;
}

.is-focused:not(.is-open)>.Select-control {
    border-color: cyan;
}

.Select-menu-outer {
    background-color: #205050;
    border: 1px solid cyan;
}

.Select-value-label {
    color: aqua !important;
}

@media only screen and (min-width: 768px) {
    body {
        margin: 10%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 2%;
    }

    .content {
        display: grid;
        grid-template-columns: 25% 73%;
        gap: 2%;
    }

    .statistics-and-plots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 325px auto;
        gap: 20px;
    }
}
