body {
    margin: 2%;
    color: #ccc;
    background-color: rgb(20, 60, 60);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

.content {
    display: grid;
    grid-template-columns: 30% 46% 20%;
    gap: 2%
}

.custom-button {
    line-height: 3;
    background-color: aqua;
    padding: 0 5%;
    border: none;
    border-radius: 4px;
    margin: 5% auto;
    position: center;
    font-family: 'Courier New', Courier, monospace;
}

.custom-button:hover {
    background-color: #205050;
    color: #eee;
}

table, td {
    width: 100%;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: cyan;
    color: darkslategray;
}

.description {
    font-style: oblique;
    font-weight: 500;
    color: #333;
    background-color: aqua;
    padding: 2%;
    border-radius: 2%;
    margin-bottom: 4%;
}

.description p {
    margin: 2%;
}

.wiki-link {
    color: rgb(6, 126, 106);
}

.wiki-link:hover {
    color: #fff;
}

.param-label {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .content {
        display: grid;
        grid-template-columns: 37% 60%;
        grid-template-rows: repeat(2, minmax(300px, auto));
        gap: 3%;
    }
}

@media screen and (max-width: 760px) {
    body {
        margin: 5%;
    }
    .content {
        display: block;
    }
    .side-bar, .stats-table, .graph-container {
        margin-bottom: 7%;
    }
}

.Select {
    color: #eee;
}

.Select-control {
    background-color: #205050;
    border-radius: 4px;
    border: 1px solid cyan;
}

.is-open>.Select-control {
    background: #205050;
    border-color: cyan;
}

.is-focused:not(.is-open)>.Select-control {
    border-color: cyan;
}

.Select-menu-outer {
    background-color: #205050;
    border: 1px solid cyan;
}

.Select-value-label {
    color: aqua !important;
}