body {
    background-color: #244;
    color: #ccc;
    font: 0.8em 'Courier New', Courier, monospace;
    margin: 5%;
}

label {
    display: inline-block;
    font-weight: bold;
    margin: 15px 5px 5px;
}

table {
    width: 100%;
    border: 1px solid #aaa;
    border-collapse: collapse;
    font-weight: 600;
}

td {
    padding: px;
    border: 1px solid #aaa;
}

.description {
    border: 2px solid #aaa;
    border-radius: 4px;
    color: #ccc;
    font-weight: 500;
    margin-bottom: 5%;
    padding: 2%;
}

.description p {
    margin: 2%;
}

.wiki-link {
    color: #4cc;
    margin-left: 40%;
    text-decoration: none;
}

.wiki-link:hover {
    text-decoration: underline;
}

.stats-table {
    margin: 5% auto;
    width: 80%;
}

#histogram,
#violin-plot,
#ecdf-plot {
    height: 45vh;
    margin-bottom: 5%;
}

.custom-button {
    background-color: #7bb;
    border: none;
    border-radius: 5px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: 5% auto;
    padding: 10px 20px;
    position: center;
}

.custom-button:hover {
    background-color: #388;
    color: #ccc;
}

/*  =======================
    Classes defined in dash
    ======================= */

.Select {
    color: #ccc;
}

.Select-control {
    background-color: #244;
    border-radius: 4px;
    border: 1px solid #7bb;
}

.is-open>.Select-control {
    background: #244;
    border-color: #7bb;
}

.is-focused:not(.is-open)>.Select-control {
    border-color: #7bb;
}

.rc-slider-dot {
    background-color: #ccc;
    border-color: #ccc;
}

.rc-slider-handle {
    background-color: #355;
    border: solid 2px #7bb;
}

.rc-slider-step {
    background-color: #aaa;
}

.Select-menu-outer {
    background-color: #244;
    border: 1px solid #7bb;
}

.Select-value-label {
    color: #7bb !important;
}

/*  ==============================
    End of Classes defined in dash
    ==============================   */

@media only screen and (min-width: 768px) {
    body {
        margin: 6% 12%;
    }

    .stats-table {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 2%;
    }

    .content {
        display: grid;
        grid-template-columns: 3fr 4fr 4fr;
        gap: 20px;
    }

    #histogram,
    #violin-plot,
    #ecdf-plot {
        height: 40vh;
        margin-bottom: 20px;
    }
}